@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

title {
    background-color: yellow;
}

body{
    background: white;
}

nav {
    background-color: yellow;
    text-align: center;
    padding: 1rem;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

#txt-input {
    border: 2px solid rgb(4, 245, 16);
    width: 85%;
    height: 85px;
    background-color:rgb(193, 233, 247);
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
}

.textbox {
    text-align: center;
}

#output {
    border: 2px solid black;
    width: 85%;
    height: 85px;
    background-color:rgb(165, 233, 250);
    display: inline-block;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}
.button {
    text-align: center;   
  }

#btn-translate {
    width: 50 px;
    height: 55 px;
    border: none;
    font-family: 'Kalam', serif;
    font-size: large;
    background-color: #77d2f7;
    border: 2px solid black;
}

#btn-translate:hover {
    background-color: #fcf818;
    color: rgb(179, 11, 11);
    display: inline-block;
    transition-delay: 100ms;
}

.end {
    text-align: center;
    background-color: yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.end p {
    max-width: 450px;
    margin: auto;
}

.foot {
    text-align: center;
    background-color: yellow;
}

/* .foot {
    text-align: center;
    background-color: yellow;
}

.foot p {
    max-width: 600px;
    margin: auto;
    
} */
