@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

title {
    background-color: yellow;
}

body{
    background: white;
}

nav {
    background-color: yellow;
    text-align: center;
    padding: 1rem;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

#txt-input {
    border: 2px solid rgb(4, 245, 16);
    width: 85%;
    height: 70px;
    background-color:rgb(193, 233, 247);
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
}

#output {
    border: 2px solid black;
    width: 85%;
    height: 70px;
    background-color:rgb(165, 233, 250);
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
}

#btn-translate {
    width: 50 px;
    height: 55 px;
    border: none;
    font-family: 'Kalam', serif;
    font-size: large;
    background-color: #4CAF50;
    border: 1px solid black;
}

#btn-translate:hover {
    background-color: #008CBA;
    color: rgb(179, 11, 11);
    display: inline-block;
    transition-delay: 100ms;
}

/* footer {
    background-color: yellow;
    text-align: center;
    left: 0px;
    right: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Kalam', serif;
} */
.foot {
    text-align: center;
    background-color: yellow;
}

#footer {
    max-width: 600px;
    margin: auto;  
    font-family: 'Kalam', serif;
    padding-top: 30px;
    padding-bottom: 20px;
}

